
@model List<Blog.Models.Post>


<table style="border: 1px solid black">
    <thead>
        <tr>
            <!-- TH significa head, que é o cabeçalho -->
            <th style="border: 1px solid black">Título</th>
            <th style="border: 1px solid black">Resumo</th>
            <th style="border: 1px solid black">Categoria</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var post in Model)
        {
            <tr >
                <td style="border: 1px solid black">@post.Titulo </td>
                <td style="border: 1px solid black">@post.Resumo</td>
                <td style="border: 1px solid black">@post.Categoria</td>
            </tr>

        }
    </tbody>
</table>

<a href="@Url.Action("Novo", "Post")">Novo</a>

