

<form method="post" action="/Post/Adiciona">
    <label>
        Título: <input name="titulo" />
    </label>

    <label>
        Resumo: <input name="resumo"/>
    </label>

    <label>
        Categoria: <input name="categoria"/>
    </label>

   <input type="submit" value="Cadastrar" />
</form>