@model Post

<form asp-controller="Post" asp-action="Adiciona" method="post">
    @Html.EditorFor(p => p)

    <input type="submit" value="Cadastrar"  class="btn btn-primary"/>
</form>

@section Scripts{
    <partial name="_Scripts" />
    <partial name="_ScriptAjax" />
}

