<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Resenha Cultural</title>
    <link href="~/css/estilo.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    
    <partial name="_Cabecalho" />

    <div class="container clearfix">
        <main>
            @RenderBody()
        </main>
        <partial name="_Lateral" />
    </div>
    <partial name="_Rodape" />

    

    @RenderSection("Scripts", false)
</body>
</html>
