<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Administração - Resenha Cultural</title>
    <link href="~/css/estilo-admin.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/jqueryui/jquery-ui.css" rel="stylesheet" />
</head>
<body>

    <partial name="MenuAdmin" />

    <div class="container clearfix">
        <main>
            @RenderBody()
        </main>
    </div>
 
    @RenderSection("Scripts", false)
</body>
</html>
