<aside>
    <h1>Administração</h1>
    <div>
        <ul>
            <li>@Html.ActionLink("Post", "Index", "Post")</li>
        </ul>
        <ul>
            <li>@Html.ActionLink("Usuários", "Index", "Usuario")</li>
        </ul>
    </div>
</aside>